{
    "semi": true,
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 100,
    "singleQuote": true,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "trailingComma": "all"
}
