body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
}
.App {
  text-align: center;
  align-items: center;
  background-color: #282c34;
  color: #fff;
  padding: 1em;
}
.App-header {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}
.App-header img {
  border-radius: 50%;
  max-width: 100%;
  width: 500px;
}
.App-header ul {
  list-style: none;
  margin: 0 0 1em;
  padding: 0;
}
.App-header ul > li {
  display: inline-block;
  margin-left: 0.5em;
}
.App-header ul > li:before {
  content: "|";
  padding: 0 10px 0 0;
}
.App-header ul > li:first-child {
  margin-left: 0;
}
.App-header ul > li:first-child:before {
  content: "";
}
h1 {
  font-size: 1.7em;
}
.App-link {
  color: #61dafb;
}
