//-----------------------------------------
// Variables
//-----------------------------------------

$base-bg-color: #282c34;
$base-text-color: #ffffff;
$base-link-color: #5990f7;
$base-font-size: 16px;
$base-line-height: 1.15;
$base-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
  'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
$cont-bg-color: rgba(63, 74, 101, 0.2);

//-----------------------------------------
// Style Rules
//-----------------------------------------

html,
body,
#app {
  height: 100%;
}

body {
  font-size: $base-font-size;
  font-family: $base-font-family;
  color: $base-text-color;
  background-color: $base-bg-color;
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
}

a {
  color: $base-link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  margin: 0;
  font-size: 2.7rem;
}

#app {
  display: flex;
  user-select: none;
  align-items: center;
  justify-content: center;
}

main {
  max-width: 800px;
  text-align: center;
}

.main-logo {
  img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
  }
}

.main-connect {
  ul {
    list-style: none;
    margin: 0 0 1em;
    padding: 0;
    & > li {
      display: inline-block;
      margin-left: 0.5em;
      &:before {
        padding: 0 10px 0 0;
      }
    }
    a {
      align-items: center;
      background: $base-link-color;
      border-radius: 50%;
      color: #fff;
      display: flex;

      justify-content: center;
      padding: 0;
      text-decoration: none;
      transition: transform 0.15s ease-in-out;
      height: 3rem;
      width: 3rem;
    }
  }

  .screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
    word-break: normal;
  }
}
